<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="integrate.recommender.metasearch.algorithm">
      <metasearch
            class="integrate.recommenders.ironman.contribution.metasearch.BordaCount"
            name="BordaCount">
      </metasearch>
      <metasearch
            class="integrate.recommenders.ironman.contribution.metasearch.OutRankingApproach"
            name="OutRankingApproach">
      </metasearch>
      <metasearch
            class="integrate.recommenders.ironman.contribution.metasearch.MedianRankAggregation"
            name="MedianRankAggregation">
      </metasearch>
   </extension>
   <extension
         point="integrate.recommender.environment">
      <integration
            class="integrate.recommenders.ironman.contribution.integration.SiriusIntegration"
            name="Sirius">
      </integration>
   </extension>

</plugin>
