<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="integrate.recommender.metasearch.algorithm">
      <metasearch
            class="integrate.recommenders.ironman.contribution.metasearch.BordaCount"
            name="BordaCount">
      </metasearch>
      <metasearch
            class="integrate.recommenders.ironman.contribution.MetaSearchAlgorithm2"
            name="integrate.recommenders.ironman.contribution.metasearch2">
      </metasearch>
      <metasearch
            class="integrate.recommenders.ironman.contribution.metasearch.MedianRankAggregation"
            name="MedianRankAggregation">
      </metasearch>
   </extension>

</plugin>
